<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<table>
    <thread>
        <tr>
            <th>course code |</th>
            <th>course name |</th>
            <th>semester hours |</th>
            <th>number of seats |</th>
            <th>primary instructor |</th>
            <th>department</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="course:${courses}">
        <td th:text="${course.courseCode}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.semesterHours}"></td>
        <td th:text="${course.numOfSeats}"></td>
        <td th:text="${course.primaryInstructor}"></td>
        <td th:text="${course.department}"></td>
        <td>
            <a th:href="@{'/jdbc/delete/course/'+${course.courseCode}}" >delete Course</a>
        </td>
    </tr>
    </tbody>
</table>

<button class ="btn btn-outline-primary" onclick="location.href='/jdbc/addCourse'">Add new Course</button>
<button class ="btn btn-outline-primary" onclick="location.href='/jdbc/mainPage'">Home Page</button>

</body>
</html>