<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <tr>id</tr>
            <tr>password</tr>
            <tr>student</tr>
            <tr>Instructor</tr>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.isStudent()}"></td>
        <td th:text="${user.isInstructor()}"></td>
    </tr>
        </tbody>
    </table>
</body>
</html>