<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to BICON</title>
</head>
<body>
    <h1>Welcome to BICON</h1>
    <br>
    <br>

    <div th:unless ="${session.id != null}">
        <a href="login">Please login to your account</a>
        <br>
        <br>
        <p>New User? Please Contact admin to create a new account for you</p>
    </div>

    <div th:if ="${session.id != null}">
        <p>Welcome Back <span style="color:blue" th:text="${session.id.id}"> </span>
        <button class="btn btn-outline-primary" onclick="location.href='/logout'"> log out </button>
        <button class="btn btn-outline-primary" onclick="location.href='mainPage'"> Main Page </button>
        </p>
    </div>
</body>
</html>