<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div id="index" style="background: black;height:700px;width:fit-content; color: white;font-size: x-large">
    <table>
        <tr>
            <td height="100px">Account</td>
        </tr>
        <tr>
            <td height="100px">course</td>
        </tr>
        <tr>
            <td height="100px">group</td>
        </tr>
        <tr>
            <td height="100px">calendar</td>
        </tr>
        <tr>
            <td height="100px">inbox</td>
        </tr>
        <tr>
            <td height="100px">help</td>
        </tr>
    </table>

</div>

</body>
</html>