<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Yuhan Jin| Sliceform</title>
<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CCC;
}
body {
	background-color: #FFF;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #CCC;
}
a:active {
	text-decoration: none;
}
</style>
<link href="css/css_main.css" rel="stylesheet" type="text/css">
  <script type="text/javascript">
    function MM_swapImgRestore() { //v3.0
      var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }

    function MM_findObj(n, d) { //v4.01
      var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
      if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
      for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
      if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
      var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
        if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }
  </script>
</head>

<body>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="960" height="80"><table width="960" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="660" height="80" class="logo">Yuhan Jin</td>
        <td width="300" height="80" class="coursename">Design Fundamentals</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="960" height="35"><table width="960" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="660" height="35"><table width="660" border="0" cellspacing="0" cellpadding="0">
          <tr class="navigation">
            <td width="65" height="35"><a href="index.html">HOME</a></td>
            <td width="50" height="35"><a href="gestalt.html">GESTALT</a></td>
            <td width="70" height="35"><a href="color.html">COLOR</a></td>
            <td width="110" height="35"><a href="typography.html">TYPOGRAPHY</a></td>
            <td width="60" height="35"><a href="mobius.html">MOBIUS</a></td>
            <td width="100" height="35"><a href="sliceform.html">SLICEFORM</a></td>
            <td width="50" height="35"><a href="ring.html">RING</a></td>
            <td width="40" height="35"><a href="toy.html">TOY</a></td>
          </tr>
        </table></td>
        <td width="300" height="35" bgcolor="#999999">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="960" height="60" class="header">Sliceform</td>
  </tr>
  <tr>
    <td width="960" height="500"><table width="960" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="440" height="500" class="description">For the Container or Sliceform design. I used six cut wooden pieces with different cuts through them to build.
        The container I made is not a cube but a strange shaped box. 5 of 6 of its surfaces have uneven heights. Only one side of the box have even height.
        In order to do that, I had to make the cuts at different positions and with different deepness for all 6 wooden pieces. The cuts are made using a laser-cutting
        machine at the College of Art. The Laser machine takes an exported file from AutoCAD for execution. I drew the cuts using the "offset" and "trim" commands
        in AutoCAD. The square I drew in AutoCAD has the exact size with the wooden pieces in real life. That's how I can fit all the cut pieces as planned.
        </td>
        <td width="520" height="500" bgcolor="#F7F9F9"><img src="assets/Container1_Main.jpg" name="main" width="500" height="500" id="main"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="960" height="100" bgcolor="#F7F9F9"><table width="960" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="445" height="100">&nbsp;</td>
        <td width="55" height="55"><img src="assets/Container1_Thumb.jpg" name="thumb" width="55" height="55" id="thumb" onClick="MM_swapImage('main','','assets/Container1_Main.jpg',1)" onKeyDown="MM_swapImgRestore()"></td>
        <td width="55" height="55"><img src="assets/Container2_Thumb.jpg" name="thumb" width="55" height="55" id="thumb" onClick="MM_swapImage('main','','assets/Container2_Main.jpg',1)" onKeyDown="MM_swapImgRestore()"></td>
        <td width="55" height="55"><img src="assets/Container3_Thumb.jpg" name="thumb" width="55" height="55" id="thumb" onClick="MM_swapImage('main','','assets/Container3_Main.jpg',1)" onKeyDown="MM_swapImgRestore()"></td>
        <td width="55" height="55"><img src="assets/Container4_Thumb.jpg" name="thumb" width="55" height="55" id="thumb" onClick="MM_swapImage('main','','assets/Container4_Main.jpg',1)" onKeyDown="MM_swapImgRestore()"></td>
        <td width="55" height="55"><img src="assets/Container5_Thumb.jpg" name="thumb" width="55" height="55" id="thumb" onClick="MM_swapImage('main','','assets/Container5_Main.jpg',1)" onKeyDown="MM_swapImgRestore()"></td>
        <td width="55" height="55"><img src="assets/Container6_Thumb.jpg" name="thumb" width="55" height="55" id="thumb" onClick="MM_swapImage('main','','assets/Container6_Main.jpg',1)" onKeyDown="MM_swapImgRestore()"></td>
        <td width="55" height="55">&nbsp;</td>
        <td width="55" height="55">&nbsp;</td>
        <td width="55" height="55">&nbsp;</td>
        <td width="20" height="100">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="960" height="40" class="footer">The University of Iowa School of Art and Art History | © Copyright 2019 | Yuhan Jin</td>
  </tr>
</table>
</body>
</html>
